* {
    padding: 0;
    margin: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

html, body {
    background-color: black;
    color: #fff;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'IBM Plex Serif', sans-serif; */
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100%;
}

.navigation {
    font-weight: 200;
    background-color: transparent;
    color: #444444c9;
}

.navigation p {
    font-size: 36px;
    letter-spacing: 5px;
    width: 30vw;
    justify-content: flex-start;
}

nav {
    width: 100%;
    height: 8vh;
    align-items: center;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
}

.nav-links {
    font-size: 18px;
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    letter-spacing: 3px;
    gap: 3em;
    justify-content: flex-end;
    padding-right: 1em;
}

.nav-links li {
    padding: .5rem;
}

.nav-links li:hover {
    color: rgb(107, 107, 107);
}

.mobile-menu {
    padding-top: .5em;
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #444444c9;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
.container {
    height: 100%;
}

section {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
}

section#title {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    z-index: 3;
    text-align: center;
    font-weight: 600;
    color: #444444c9;
}

#title p {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media screen and (max-width: 1200px) {
    nav {
        justify-content: space-around;
    }
    .navigation p {
        width: 100%;
    }
    .nav-links {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 92vh;
      align-items: center;
      position: absolute;
      right: 0px;
      top: 8vh;
      transform: translateX(100%);
      color: white;
      background-color: rgba(0, 0, 0, 0.829);
    }  
    .nav-links li {
      text-align: center;
      width: 100%;
      height: 100%;
    }  
    .nav-links li a{
      display: block;
      width: 100%;
      height: 100%;
    }  
    .nav-links li:hover {
      background-color: rgba(255, 255, 255, 0.562);
      color: black;
    }  
    .mobile-menu {
      display: block;
      font-size: 22px;
      cursor: pointer;
      z-index: 5;
    }  
    .nav-active {
      transform: translateX(0%);
    } 
    .head-active {
        background-color: rgba(0, 0, 0, 0.829);
    }
}

section#projects {
    height: 100%;
}

#projects h3 {
    font-size: 42px;
    letter-spacing: 3px;
    font-weight: 600;
    padding-left: 3rem;
}

.scroll {
    width: 100%;
    height: 100vh;
    position: relative;
}
.scroll > ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.item {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}
.item > img {
    max-width: 55%;
    min-width: 55%;
    filter: grayscale(1);
    border: .3em outset #222222;
}
.item > img:hover {
    border: none;
    filter: grayscale(0);
    box-shadow: inset 0 0 30px 0 #222222;
}
.item[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.scroll-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    color:rgba(255, 255, 255, 0.514);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}
.scroll-button:hover,
.scroll-button:focus {
    color: white;
}

.scroll-button.prev {
    left: 5rem;
}

.scroll-button.next {
    right: 5rem;
}

section#about {
    width: 100%;
    max-height: 100vh;
}

#about h3 {
    font-size: 42px;
    letter-spacing: 3px;
    font-weight: 600;
    padding-left: 3rem;
}

.about-container{
    display: flex;
    padding: 2rem;
}

#about p {
    font-size: 18px;
    padding: 1rem;
}

#about img {
    filter: grayscale(1);
    border: .3em outset #222222;
    width: 45%;
}

#about img:hover {
    filter: grayscale(0);
    border: .3em inset #222222;
}

@media screen and (max-width: 900px) {
    .scroll-button.prev {
        left: 1rem;
    }
    
    .scroll-button.next {
        right: 1rem;
    }
    .item > img {
        max-width: 90%;
        min-width: 90%;
    }
    #projects h3 {
        text-align: center;
        padding: 0;
    }
    .about-container {
        display: block;
        text-align: center;
    }
    #about h3 {
        text-align: center;
        padding: 0;
    }
    #about img {
        width: 55%;
    }
}

.contact {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.contact h3 {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
}
#txt {
    text-align: start;
    padding-bottom:100px;
}

input[type=submit] {
    align-items: center;
    justify-content: center;
    padding: .5em;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    border-bottom: none;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #FFF;
    color: black;
}

footer {
    clear: both;
}

.footer-container {
    grid-template-columns: 2;
    display: grid;
}
.social {
    text-align: center;
    grid-column: 1;
    width: 100%;
}
.social a{
    letter-spacing: 3px;
    font-size: 18px;
    padding-left: 3em;
    padding-top: 2em;
    display: block;
}

.copyright {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #about img {
        width: 75%;
    }
}